<div class="custom-container">
    {{!-- <h1 class="dine text-center m-4 ">Dinepoint</h1> --}}
    <div class="jumbotron1 ">

        <h6 class="logo"><i class="fa-solid fa-gifts"></i></h6>
        <h3 class="logintext">Login Form</h3>

        <h6 class="text">Enter your credentials to login!!</h6>
        <div class="container mt-5 pl-5">
            <form action="/login" method="POST" class="forms">
                {{#if loginErr}}
                <p class="error">{{loginErr}}
                </p>
                {{/if}}
                <div class="form-group">
                    <label for="Email">Email Id <span class="text-danger">*</span></label>
                    <input type="Email" class="form-control" name="Email" id="Email" placeholder="Enter your email id">
                </div>
                <div class="form-group">
                    <label for="Password">Password <span class="text-danger">*</span></label>
                    <input type="Password" class="form-control" name="Password" id="Password"
                        placeholder="Enter Your Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="button btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            New user? Register <a href="/signup">here</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <img src="images/gift1.png" style="   
         width: 514px;
    margin-top: -134px;
    margin-left: 293px;" alt="">
    </div>
</div>