<div class="row">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>Order placed successfully</h1>
            <a href="/orders" class="btn btn-primary">View orders</a>
        </div>
    </div>
</div>