<div class="custom-container">
    {{!-- <h1 class="text-center m-4 text-success">Dinepoint</h1> --}}
    <div class="jumbotron1 ">
        <h6 class="logo"><i class="fa-solid fa-gifts"></i></h6>

        <h3 class="account">Create an account</h3>
        <h6 class="signup">Signup now and unlock exclusive access!</h6>
        <div class="container mt-5 pl-5">
            <form method="post" id="registration" action="" class="forms">
                <div class="form-group">
                    <label for="Name">Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Your First Name">
                </div>


                <div class="form-group">
                    <label for="Email">Email Id <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="Email" id="Email" placeholder="Enter your email id">
                </div>

                <div class="form-group">
                    <label for="Password">Password <span class="text-danger">*</span></label>
                    <input type="Password" class="form-control" name="Password" id="Password"
                        placeholder="Enter Your Password">
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="button btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            Already user? Login <a href="/login">here</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <img src="images/gift2.png" style="   
         width: 514px;
    margin-top: -185px;
    height: 646px;
    margin-left: 293px;" alt="">
    </div>
</div>
</body>