body {
    background: linear-gradient(to right, #ccccff 0%, #ff99cc 100%);
}

.swiper {
    flex: 1 1 50%;


    margin-top: 20px;
}

.swiper-slide img {
    width: 100%;
}

.ad {
    padding-left: 35px;
    padding-right: -38px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.card-img-top1 {
    border-radius: 3px;
    height: 233px;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-img-top1:hover {
    transform: scale(1.2);
}

.card-img-top11 {

    height: 233px;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-img-top11:hover {
    transform: scale(1.2);
}

.card-img-top11 img {
    height: 233px;
    width: 100%;
    object-fit: cover;
}

.trending {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.trend {
    margin-left: 23px;
    width: 0px;
}

.card-text {
    margin-top: -14px;
}

.card {
    flex: 0 0 25%;
    margin-right: 1rem;
    margin-left: 14px;
    margin-top: 81px;
    margin-right: 36px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;

}

.swiper-slide {
    width: 500px;
    height: 250px;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
    .swiper-slide {
        width: 100%;
        height: auto;
    }
}

/* Media queries for larger screens */
@media screen and (min-width: 1200px) {
    .swiper-slide {
        width: 33.33%;
        height: auto;
    }
}

.hee {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
    border-radius: 80px;
    margin-top: -257px;
    border: none;
    background-image: url('/images/2222.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hee1 {
    height: 100px;
    width: 100px;
    background-image: url('/images/111.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
    border-radius: 80px;
    margin-top: -257px;
    border: none;
    margin-right: -92px;
}